section.introduction{
	width:100%;
	background-color:#e8b968;
	height:100%;
	margin:auto;
	height:auto;
	overflow:auto;
	position:relative;

	div.col-2{
		width:calc(55% - 200px);
		float:left;
		margin:60px 70px 0 70px;		
		padding:20px 0 20px 20px;
		max-width: 500px;
		

		h1{
			margin:0 0 50px 0;
		}
	}

	div.col-2:nth-child(1) {
    margin-left:100px;
	}
	
	div.col-2:nth-child(2) {
    width:calc(45%);
    float:right;
    height:auto;
	overflow:auto;
    margin:100px -20px 0 0;
    padding:0;
    right:0;
    bottom:0;
    position:absolute;
    z-index:0;
    overflow:hidden;
	margin:100px 0 0 0;
   

    background:url('../img/iPad.png') no-repeat;
    background-image:cover;
    height:100vh;
	
	}
	.cf{
		clear:both;
	}
}


/*Media Query */

@media screen and (min-width: 680px) and (max-width: 999px) {

	

	

}


@media screen and (max-width: 999px) {
	
	section.introduction{

		display:flex;

		div.col-2{
			// width:calc(100%);
			justify-content:center;
			margin:50px 0 0 70px;		
			padding:20px;
			max-width:550px;
		
		}


		div.col-2:nth-child(2) {
		    display:none;
		    
		    height:100vh;
		
		}
	}	

section.introduction div.col-2:nth-child(1) {
    margin-left: 50px;
}

}




