section.introduction{
	width:100%;
	background-color:#e8b968;
	height:100%;
	margin:auto;
	height:auto;
	overflow:auto;

	div.col-2{
		width:calc(55% - 200px);
		float:left;
		margin:60px 70px;		
		padding:20px 0 20px 20px;
		position:relative;
		overflow:hidden;

		h1{
			margin:0 0 50px 0;
		}
	}

	div.col-2:nth-child(1) {
    margin-left:100px;
	}
	
	div.col-2:nth-child(2) {
    width:calc(45%);
    float:right;
    height:auto;
	overflow:auto;
    margin:100px -20px 0 0;
    padding:0;
    right:0;
    bottom:0;
   

    background:url('../img/iPad.png') no-repeat;
    background-image:cover;
    height:100vh;
	
	}
	.cf{
		clear:both;
	}
}

