section.introduction{
	width:100%;
	background-color:#e8b968;
	height:100%;
	margin:auto;
	height:auto;
	overflow:auto;

	div.col-3{
		width:calc(55% - 200px);
		float:left;
		margin:60px 70px;		
		padding:20px 0 20px 20px;
		position:relative;
		overflow:hidden;
	}

	div.col-3:nth-child(1) {
    margin-left:100px;
	}
	
	div.col-3:nth-child(2) {
    width:calc(45%);
    height:870px;
	overflow:auto;
    margin:0 -20px 0 0;
    padding:0;
    bottom:0;
    right:0;
    // position:absolute;

	background-color:red;
    // background:url('http://lorempixel.com/600/700/');
    background-image:cover;
	
	}
	.cf{
		clear:both;
	}
}

