button, button.outline{
	width:275px;
	height:70px;
	box-shadow: none;
	border: none;
	border-radius:5px;
	background-color:$accent-color;
	
	margin:50px 0;
	font-size:22px;
}

button.outline{

	border: 3px solid #ffffff;
	background-color:transparent;

	}