.container, footer.info{
	width:100%;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
}

.col{
flex:1 1 auto;
margin:0;
flex-basis:calc(33.3% - 300px);
}

.col-3{
flex:1 1 auto;
// padding:4em 10em;
margin:0;
width:calc(33.3% - 300px);
max-width:300px;
}

.col-1{
flex:1 1 auto;
text-align:center;
padding:4em 10em;
margin:0;
}



.col-2, .col-4{
flex: 1 1 auto;
justify-content:center;
}

.col-4{
margin:0 100px;
padding:0;
width:calc(50% - 200px);

	p{
		margin:0;
	}
}

section.hero, section.testimonials, section.information, section.introduction, section.colors, footer{
width:100%;
display:block;
overflow:auto;

	.col-1{

		margin:0 150px;
		justify-content:center;


	}

}

//Media Query 

@media screen and (max-width: 1000px) {
	.col-1{
		flex-basis:calc(100%);
		padding:0;
	}

}

@media screen and (max-width: 640px) {
	
}