div.circle-img{
	border-radius:50%;
	border: 2px sollid #ffffff;
	margin:25px auto;
	background:cover;
	width:120px;
	height:120px;
	background:url('../../Assets/img/testimonial.jpg') center center;
	}
	